.solution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.solution h2 {
  max-width: 900px;
  margin-bottom: 30px;
}

.solutions-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.solutions-container .solution-triangle-icon {
  width: 20px;
  transform: rotate(90deg);
}

@media (max-width: 1024px) {
  .solutions-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .solutions-container .solution-triangle-icon {
    width: 20px;
    transform: rotate(180deg);
  }
}
