.forgot-password-page {
  height: 100vh;
  background-color: #f8f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-container-wrapper {
  position: relative;
  max-width: 400px;
}

.forgot-password-bg-green-container-top,
.forgot-password-bg-green-container-bottom {
  position: absolute;
  border-radius: 8px;
  z-index: 1;
}

.forgot-password-bg-green-container-top {
  background-color: #399c17;
  width: 200px;
  height: 200px;
  top: -25px;
  left: -40px;
}

.forgot-password-bg-green-container-bottom {
  background-color: #f1f0f2;
  width: 130px;
  height: 130px;
  top: 270px;
  left: 300px;
}

.forgot-password-bg-transp-container-top,
.forgot-password-bg-transp-container-bottom {
  position: absolute;
  background-color: none;
  border-radius: 20px;
  z-index: 0;
}

.forgot-password-bg-transp-container-top {
  width: 130px;
  height: 130px;
  top: -55px;
  left: 50px;
  border: 1px solid #d4f4e2;
}

.forgot-password-bg-transp-container-bottom {
  width: 180px;
  height: 180px;
  top: 245px;
  left: 275px;
  border: 2px dashed #d4f4e2;
}

.forgot-password-container {
  width: 400px;
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  position: relative;
}

/* greenDash logo */
.forgot-password-greendash-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-greendash-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.forgot-password-greendash-logo img {
  width: 30px;
}

/* forgot-password header */

.forgot-password-header h2 {
  font-size: 24px;
  font-weight: 500;
  color: #2f2b3d;
  opacity: 0.9;
}

.forgot-password-header p {
  font-size: 12px;
  color: #2f2b3d;
  opacity: 0.7;
  width: 85%;
}

/* forgot-password form */

.forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.forgot-password-form .form-input-container {
  display: flex;
  flex-direction: column;
}

.forgot-password-form .form-input-container label {
  font-size: 12px;
  color: rgb(47, 43, 61);
  opacity: 0.9;
}

.forgot-password-form .form-input-container input {
  padding: 8px 15px;
  border: 1px solid rgba(47, 43, 61, 0.22);
  border-radius: 4px;
  font-size: 14px;
  color: #2f2b3d;
  background-color: white;
}

.forgot-password-form .form-input-container input:focus {
  border-color: #399c17;
  outline: none;
}

.forgot-password-form .form-input-container input::placeholder {
  color: rgba(47, 43, 61, 0.4);
}

.forgot-password-button {
  font-size: 14px;
  padding: 10px;
}

.forgot-password-back-to-login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-size: 12px;
  color: #399c17;
}

.forgot-password-back-to-login-link:hover {
  text-decoration: underline;
}
