.download-container {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
}

.download-container h1 {
  font-size: 1rem;
  font-weight: 600;
  color: #2f2d3d;
  opacity: 0.7;
}

.report-summary {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.report-summary h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #2f2d3d;
  opacity: 0.9;
  margin-bottom: 10px;
}

.summary-item {
  font-size: 14px;
  color: rgba(52, 49, 67, 0.9);
}

.summary-item .label {
  width: auto;
  font-weight: bold;
  color: #2f2d3d;
  margin-right: 8px;
}

.summary-item .value {
  color: rgba(52, 49, 67, 0.7);
}

.pdf-download-link {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.pdf-download-link a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: var(--primaryColor);
  box-shadow: #2dc26d69 0px 10px 25px 0px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pdf-download-link a:hover {
  background-color: #0d2818;
}
