.greendash-logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -2px;
  width: fit-content;
}

.greendash-logo p {
  display: inline-block;
  padding: 0;
  line-height: 1em;
  border-bottom: 3px solid var(--primaryColor);
}
