.tooltip-container {
  position: relative;
}

.tooltip-content {
  position: absolute;
  font-size: 12px;
  border: solid 1px #00bad1;
  background-color: rgb(255, 255, 255);
  color: #00bad1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2px 4px;
  z-index: 20;
  text-wrap: nowrap;
}

.tooltip-right {
  left: 130%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-left {
  right: 130%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-top {
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom {
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
}
