.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reset-password-form .form-input-container {
  display: flex;
  flex-direction: column;
}

.reset-password-form .form-input-container label {
  font-size: 12px;
  color: rgb(47, 43, 61);
  opacity: 0.9;
}

.reset-password-form .form-input-container input {
  padding: 8px 15px;
  border: 1px solid rgba(47, 43, 61, 0.22);
  border-radius: 4px;
  font-size: 14px;
  color: #2f2b3d;
  background-color: white;
}

.reset-password-form .form-input-container input:focus {
  border-color: #399c17;
  outline: none;
}

.reset-password-form .form-input-container input::placeholder {
  color: rgba(47, 43, 61, 0.4);
}

.reset-password-button {
  font-size: 14px;
  padding: 10px;
}

.reset-password-back-to-login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-size: 12px;
  color: #399c17;
}

.reset-password-back-to-login-link:hover {
  text-decoration: underline;
}
