.solution-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 250px;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid rgb(57, 156, 23);
}

.solution-card h3 {
  margin: 25px 0px;
}

.solution-card p {
  font-size: 16px;
}

@media (max-width: 1024px) {
  .solution-card {
    justify-content: space-between;
    width: 500px;
    height: 250px;
  }
}

/* Mobile-first approach */
@media (max-width: 640px) {
  .solution-card {
    width: 100%;
    height: fit-content;
  }
}
